
{% extends 'rozlozeni.html.twig' %}

{% block title %} Chyba 404 {% endblock title %}
{% block description %} Chyba 404{% endblock description %}
{% block keywords %} Chyba 404{% endblock keywords %}

{% block content %}
    <div class="error-body">
        <h2>Oops..</h2>
        <small class="text-muted">Tato stránka neexistuje</small>
        <a href="login">Zpět na hlavní stránku</a>
    </div>
{% endblock content%}