{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Moje zápasy
{% endblock title %}

{# Page description #}
{% block description %}Hlavní stránka aplikace e-club{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <h2>Moje zápasy
    </h2>
{% endblock content%}

{% block scripts %}

{% endblock scripts%}