{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Administrace - přidat oddíl
{% endblock title %}

{# Page description #}
{% block description %}Přidat nový oddíl{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="administration">
        <h2>Přidat uživatele</h2>
        <form method="post" enctype="multipart/form-data" action="/{{ pageName }}?form=addNewUser">
            <div class="form-group">
                <label for="divisionName">Uživatelské jméno (login)</label>
                <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="login" required>
                <small id="telHelp" class="form-text text-muted">Slouží k přihlášení</small>
            </div>
            <div class="form-group">
                <label for="divisionName">Heslo</label>
                <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Heslo" required>
                <small id="passSecond" class="form-text text-muted">Zadejte znovu své heslo</small>
                <input type="password" class="form-control form-control-lg" name="password2" id="password2" placeholder="Zopakujte heslo" required>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="realName">Reálné jméno</label>
                    <input type="text" name="realName" class="form-control" placeholder="Jméno" required>
                </div>
                <div class="col">
                    <label for="realSurname">Reálné příjmení</label>
                    <input type="text" name="realSurname" class="form-control" placeholder="Příjmení" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
                <label for="tel">Telefon</label>
                <input type="tel" pattern="^\+420([0-9]{3}[0-9]{3}[0-9]{3})\b"  class="form-control" name="tel" id="tel" placeholder="telefon" required>
                <small id="telHelp" class="form-text text-muted">Telefon zadávejte ve formátu: +420123456789</small>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select name="role" class="form-control">
                    {% for role in roles|reverse %}
                    <option value="{{ role.id }}">{{ role.roleName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="avatar">Profilový obrázek</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="avatar" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01" required>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <button type="submit" name="submitAddUserForm" class="btn btn-primary">Přidat oddíl</button>
        </form>
    </div>
{% endblock content%}

{% block scripts %}
    <script>
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });

        jQuery.extend(jQuery.validator.messages, {
            required: "Toto pole je povinné",
        });

        jQuery('form').validate({
            rules : {
                password : {
                    minlength : 8
                },
                password2 : {
                    equalTo : "#password"
                },
                email: {
                    email: true
                },
                tel: {
                    required: tel,
                }
            },
            messages: {
                password: {
                    minlength: "Minimální délka hesla je 8 znaků",
                    equalTo: "Hesla se neshodují"
                },
                password2: {
                    equalTo: "Hesla se neshodují"
                },
                email: {
                    email: "Email není ve správném formátu"
                },
                tel: {
                    regex: "sdfsdf"
                },


            },
            errorClass: 'error help-inline',
            errorElement: 'span',

            submitHandler: function(form) {
                form.submit();
            }
        });

        $.validator.addMethod("tel", function(value, element) {
            return this.optional(element) || /^\+420[0-9]{3}[0-9]{3}[0-9]{3}$/i.test(value);
        }, "Telefon není ve správném formátu");
    </script>
{% endblock scripts%}