*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #F7F6FB;
  z-index: 100;
  transition: 0.5s;
}

.header_toggle {
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  object-fit: contain;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 68px;
  height: 100vh;
  background-color: var(--main-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: 100;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
  text-decoration: none;
  margin-top: -8px;
}

.nav_logo-icon {
  position: relative;
  right: 3px;
  top: 0px;
}
.nav_logo-icon svg {
  margin: auto;
  max-width: 26px;
  height: fit-content;
}
.nav_logo-icon svg path {
  fill: #F7F6FB;
}

.nav_logo-name {
  color: #F7F6FB;
  font-weight: 700;
  font-size: 20px;
}

.nav_link {
  position: relative;
  color: #AFA5D9;
  margin-bottom: 1.5rem;
  transition: 0.3s;
  text-decoration: none;
}

.nav_link:hover {
  color: #F7F6FB;
}

.nav_icon {
  font-size: 1.25rem;
}

nav .show {
  left: 0;
  box-shadow: 400px 40px 100vW 100vW rgba(0, 0, 0, 0.38);
}

.active {
  color: #F7F6FB;
}

.header_name {
  margin: 0;
  margin-left: auto;
  margin-right: 12px;
  margin-bottom: 3px;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #F7F6FB;
}

.height-100 {
  height: 100vh;
}

.body-pd {
  padding-left: 82px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 4rem;
    padding: 0 2rem 0 calc(68px + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  nav .show {
    width: 224px;
    box-shadow: 400px 40px 100vW 100vW rgba(0, 0, 0, 0.38);
  }

  .body-pd {
    padding-left: 256px;
  }
}
.error-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-body h2 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 25px;
}
.error-body a {
  padding: 15px 20px;
  display: block;
  background-color: var(--main-color);
  border-radius: 10px;
  color: white !important;
  font-weight: 500;
  text-decoration: none !important;
  margin-top: 25px;
}

.permission-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
}
.permission-div h2 {
  text-align: center;
  margin-top: 20px;
}
.permission-div i {
  font-size: 110px;
  color: var(--bs-danger);
}
.permission-div a {
  margin-top: 20px;
}

#calendar-esports {
  font-weight: bold;
  color: #575656;
}
#calendar-esports .divTableCalendar {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#calendar-esports .divTableRowCalendar {
  display: table-row;
}
#calendar-esports .divTableHeadingCalendar {
  background-color: #eee;
  display: table-header-group;
}
#calendar-esports .divTableCellCalendar,
#calendar-esports .divTableHeadCalendar {
  display: table-cell;
  padding: 0px 5px;
  position: relative;
}
#calendar-esports .divTableCellCalendar::before,
#calendar-esports .divTableHeadCalendar::before {
  content: "";
  display: block;
  padding-top: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 10px;
}
#calendar-esports .divTableHeadingCalendar {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
#calendar-esports .divTableFootCalendar {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
#calendar-esports .divTableBodyCalendar {
  display: table-row-group;
}
#calendar-esports .header-days {
  background-color: grey;
  display: none;
}
#calendar-esports .header-days .divTableCellCalendar,
#calendar-esports .header-days .divTableHeadCalendar {
  display: table-cell;
  padding: 3px 0px;
}
#calendar-esports .prev,
#calendar-esports .next {
  color: rgba(255, 255, 255, 0.397);
  visibility: hidden;
}
#calendar-esports .event {
  color: white;
}
#calendar-esports .event:before {
  background-color: red;
}
#calendar-esports .header-month {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
#calendar-esports .header-month p {
  margin: 0px;
  width: 160px;
  text-align: center;
}
#calendar-esports .header-month img {
  height: 30px;
  cursor: pointer;
}
#calendar-esports .header-month .arrow-circle {
  border-radius: 100%;
  padding: 5px 9px 1px 2px;
  position: relative;
  top: -10px;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#calendar-esports .header-month .arrow-circle:first-of-type {
  padding: 5px 2px 1px 9px;
  margin-left: 0px;
  margin-right: 8px;
}
#calendar-esports .header-month .arrow-circle:hover {
  background-color: #eeeeee;
  transition: all 0.3s ease-in-out;
}
#calendar-esports .header-month .arrow {
  border: solid #575656;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 14px;
}
#calendar-esports .header-month .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg) scale(0.5);
  position: relative;
}
#calendar-esports .header-month .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg) scale(0.5);
  position: relative;
}
#calendar-esports .header-month .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#calendar-esports .header-month .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#calendar-esports span {
  display: table;
  padding: 0px 15px;
  font-size: 25px;
  position: relative;
  top: -20px;
  margin-top: -20px;
}
#calendar-esports .eventContent {
  position: absolute;
  top: 0;
  width: 94%;
  height: 74%;
  overflow-y: auto;
}
#calendar-esports .eventContent p {
  padding-bottom: 9px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  margin-top: 5px;
  text-align: center;
}
@media only screen and (max-width: 1920px) {
  #calendar-esports .eventContent p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1920px) and (max-width: 1140px) {
  #calendar-esports .eventContent p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1920px) and (max-width: 1140px) and (max-width: 1150px) {
  #calendar-esports .eventContent p {
    font-size: 11px;
  }
}
#calendar-esports .event-div {
  background-color: grey;
  border-top: 4px solid red;
  border-bottom: 4px solid gray;
  display: none;
}
#calendar-esports .event-div p {
  padding: 0px 15px;
  margin: 5px 0px 0px 0px;
}
#calendar-esports .event-div p:last-of-type {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0px;
}

.items-container {
  margin-left: -15px;
}
.items-container a {
  flex: 0 0 25% !important;
}
.items-container button {
  font-size: 1rem !important;
  max-width: 210px !important;
}
.items-container button::before {
  font-size: 1.5rem !important;
  top: 4px !important;
}

.item-content p {
  font-size: 1.3rem !important;
  margin-top: 25px !important;
}

@media (max-width: 1919px) {
  .items-container a {
    flex: 0 0 33.333% !important;
  }
}
@media (max-width: 1240px) {
  .items-container a {
    flex: 0 50% !important;
  }
}
#homepage h2 {
  margin-bottom: 30px;
}
#homepage .content {
  display: flex;
  gap: 20px;
}
#homepage .content #calendar {
  max-width: 400px;
  width: 100%;
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 30px;
  box-sizing: content-box;
  border-radius: 15px;
}
#homepage .content #calendar #calendar-esports span {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: -46px;
  margin-bottom: -20px;
  text-align: center;
  margin-top: 0;
  padding: 0;
  padding-top: 7px;
}
#homepage .content #calendar #calendar-esports .divTableCellCalendar:before {
  margin: 0px;
}
#homepage .content #calendar .prev, #homepage .content #calendar .next {
  visibility: unset;
  color: #7b7b7b;
  opacity: 0.3;
}
#homepage .content #calendar .matches {
  margin-top: 20px;
  margin-bottom: 20px;
}
#homepage .content #calendar .matches .match {
  display: flex;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#homepage .content #calendar .matches .match:hover {
  background-color: #e0e0e0;
}
#homepage .content #calendar .matches .match .date {
  padding: 7px;
  background-color: var(--main-color);
  height: 40px;
  text-align: center;
  line-height: 26px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}
#homepage .content #calendar .matches .match .info {
  width: 100%;
  display: block;
  text-align: center;
}
#homepage .content #calendar .matches .match .info p {
  margin: 0px;
  font-size: 20px;
  display: flex;
}
#homepage .content #calendar .matches .match .info p span {
  margin: 0px 10px;
  color: #003add;
  width: 120px;
  font-weight: 500;
  display: block;
}
#homepage .content #calendar .no-division {
  text-align: center;
}
#homepage .content #calendar .no-division i {
  font-size: 40px;
  margin-bottom: 15px;
}
#homepage .content #dept {
  max-width: 300px;
  width: 100%;
  background-color: white;
  padding: 30px;
  box-sizing: content-box;
  border-radius: 15px;
  height: 200px;
  text-align: center;
}
#homepage .content #dept p {
  font-size: 60px;
  font-weight: 700;
}

#divisions {
  position: relative;
}
#divisions h2 {
  margin-bottom: 30px;
}
#divisions .other-buttons {
  margin-bottom: 15px;
}
#divisions .table-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  overflow-x: auto;
  white-space: nowrap;
}
#divisions .drag-info {
  display: none;
  position: absolute;
  right: 0;
  padding: 9px;
  color: gray;
  font-size: 15px;
}
@media only screen and (max-width: 580px) {
  #divisions .drag-info {
    display: block;
  }
}
#divisions .drag-info i {
  position: relative;
  top: 2px;
}
#divisions form label {
  margin-top: 15px;
}

#administration .main-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 1300px) {
  #administration .main-container {
    flex-direction: column;
  }
}
#administration .main-container .other-buttons {
  margin-bottom: 20px;
}
#administration .main-container .action-buttons {
  display: flex;
  gap: 4px;
}
@media only screen and (max-width: 1425px) {
  #administration .main-container .action-buttons {
    flex-direction: column;
    max-width: 40px;
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 1425px) and (max-width: 1300px) {
  #administration .main-container .action-buttons {
    flex-direction: unset;
    max-width: unset;
    width: fit-content;
  }
}
@media only screen and (max-width: 1425px) and (max-width: 1300px) and (max-width: 1300px) {
  #administration .main-container .action-buttons {
    flex-direction: column;
    max-width: 40px;
    width: 100%;
    margin: auto;
  }
}
#administration .main-container .box {
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}
#administration .main-container .box .dataTables_wrapper {
  overflow-x: auto;
}
#administration .avatar-form-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 680px) {
  #administration .avatar-form-group {
    flex-direction: column;
  }
}
#administration .avatar-form-group .avatar-container {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}
#administration .avatar-form-group .avatar-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
#administration .error {
  color: red;
  margin-top: 5px;
  display: block;
}
#administration form {
  padding-bottom: 30px;
}

html {
  height: 100%;
  width: 100%;
}

#body-pd {
  position: relative;
  padding: 0 1rem !important;
  font-size: 1rem;
  transition: 0.5s;
  padding-top: 90px !important;
  padding-left: 100px !important;
  height: 100%;
  box-sizing: border-box;
  background-color: #eeeeee;
}
@media only screen and (max-width: 768px) {
  #body-pd {
    padding-left: 15px !important;
  }
}
#body-pd #main-content {
  height: 100%;
}

body {
  margin: 0px;
  background: #E5E5E5;
  box-sizing: border-box;
}

.main-flex-div {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
@media only screen and (max-width: 816px) {
  .main-flex-div {
    background: white;
  }
}
.main-flex-div .grey-gradient {
  background: linear-gradient(225.46deg, rgba(43, 43, 43, 0.612) 34.38%, #000000a7 100%);
}
.main-flex-div .orange-gradient:after {
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background-color: var(--main-color);
  z-index: -1;
  opacity: 0.4;
}
.main-flex-div .left-div {
  text-align: center;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/login-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 816px) {
  .main-flex-div .left-div {
    display: none;
  }
}
.main-flex-div .left-div h2 {
  font-family: "Montserrat";
  color: white;
  margin: 0px;
  font-size: 55px;
}
.main-flex-div .left-div svg {
  max-width: 200px;
  width: 100%;
  height: fit-content;
}
.main-flex-div .left-div svg path {
  fill: white;
}
.main-flex-div .right-div {
  background: white;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.main-flex-div .right-div h2 {
  font-family: "Montserrat";
  color: #282828;
  margin: 0px;
}
@media only screen and (max-width: 320px) {
  .main-flex-div .right-div h2 {
    font-size: 25px;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main-flex-div .right-div h2 {
    font-size: 45px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .main-flex-div .right-div h2 {
    font-size: 65px;
    margin-top: 30px;
  }
}
.main-flex-div .right-div p {
  font-family: "Poppins";
  color: #282828;
  margin: 0px;
}
.main-flex-div .right-div #errorLogin {
  top: -35px;
  position: relative;
  color: red;
}
.main-flex-div .right-div .switch {
  position: absolute;
  display: inline-block;
  width: 49px;
  height: 20px;
  top: 13px;
  right: 10px;
}
@media only screen and (max-width: 816px) {
  .main-flex-div .right-div .switch {
    display: none;
  }
}
.main-flex-div .right-div .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.main-flex-div .right-div .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-flex-div .right-div .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-flex-div .right-div input:checked + .slider {
  background-color: orange;
}
.main-flex-div .right-div input:focus + .slider {
  box-shadow: 0 0 1px orange;
}
.main-flex-div .right-div input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.main-flex-div .right-div input:focus, .main-flex-div .right-div textarea:focus, .main-flex-div .right-div select:focus {
  outline: none;
}
.main-flex-div .right-div .slider.round {
  border-radius: 34px;
}
.main-flex-div .right-div .slider.round:before {
  border-radius: 50%;
}
.main-flex-div .right-div form {
  text-align: center;
  font-family: "Poppins";
}
@media only screen and (max-width: 320px) {
  .main-flex-div .right-div form svg {
    width: 75px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main-flex-div .right-div form svg {
    width: 95px;
  }
}
@media only screen and (min-width: 1024px) {
  .main-flex-div .right-div form svg {
    width: 115px;
  }
}
.main-flex-div .right-div form svg path {
  fill: var(--main-color);
}
.main-flex-div .right-div form #eye {
  position: absolute;
  top: 360px;
  right: 78px;
}
.main-flex-div .right-div form label {
  display: inline-block;
  float: left;
  margin-top: 25px;
  color: #848484;
  font-size: 15px;
}
.main-flex-div .right-div form label:first-of-type {
  margin-top: 36px;
}
.main-flex-div .right-div form input {
  font-size: 28px;
  padding: 8px;
  border: 1px solid #AAAAAA;
  border-radius: 9px;
}
@media only screen and (max-width: 320px) {
  .main-flex-div .right-div form input {
    font-size: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main-flex-div .right-div form input {
    font-size: 22px;
  }
}
.main-flex-div .right-div form .password-eye {
  position: relative;
  display: table;
  left: 327px;
  font-size: 20px;
  top: -39px;
  color: #AAAAAA;
  cursor: pointer;
}
@media only screen and (max-width: 320px) {
  .main-flex-div .right-div form .password-eye {
    left: 182px;
    font-size: 16px;
    top: -36px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main-flex-div .right-div form .password-eye {
    left: 247px;
  }
}
.main-flex-div .right-div form button {
  background: #26547C;
  color: white;
  padding: 10px;
  width: 200px;
  font-size: 24px;
  height: auto;
  margin-top: -14px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}
.main-flex-div .right-div form a {
  margin-top: 36px;
  display: block;
  color: #282828;
}

/*# sourceMappingURL=main.css.map */
