{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Oddíly
{% endblock title %}

{# Page description #}
{% block description %}Stránka s oddíly{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <H4>dsfadsfasdfsadfsasadfsafdsaf</H4>
{% endblock content%}

{% block scripts %}

{% endblock scripts%}