

{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %} Home {% endblock title %}

{# Page description #}
{% block description %} {% endblock description %}

{# Page keywords #}
{% block keywords %} {% endblock keywords %}

{% block content %}

<nav>{{ user }}</nav>

{% endblock content%}