#divisions{
  position: relative;

  .row{
    margin-bottom: 20px;
  }

  .note-editor .note-toolbar, .note-popover .popover-content{
    background-color: #8080803d;
  }

  .accordion{
    max-height: 450px;
    overflow-y: auto;
  }

  .row{
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      gap: 15px;
    }

    .btn{
      margin-bottom: 5px;
    }
  }

  h2{
    margin-bottom: 30px;
  }

  .other-buttons{
    margin-bottom: 15px;
  }

  .table-container{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .drag-info{
    display: none;
    position: absolute;
    right: 0;
    padding: 9px;
    color: gray;
    font-size: 15px;

    @media only screen and (max-width: 580px) {
      display: block;
    }

    i{
      position: relative;
      top: 2px;
    }
  }

  form{
    label{
      margin-top: 15px;
    }
  }
}