#homepage{
  h2{
    margin-bottom: 30px;
  }

  .content{
    display: flex;
    gap: 20px;

    @media only screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }

    #calendar{
      max-width: 400px;
      width: 100%;
      background-color: white;
      padding: 30px;
      box-sizing: content-box;
      border-radius: 15px;

      @media only screen and (max-width: 1300px) {
        padding: 15px;

        @media only screen and (max-width: 1200px) {
          max-width: unset;
        }
      }

      @media only screen and (max-width: 500px) {
        padding: 7px;
        box-sizing: border-box;
      }

      #calendar-esports{
        @media only screen and (max-width: 1200px) {
          display: none;
        }

        span{
          font-size: 20px;
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1;
          top: -46px;
          margin-bottom: -20px;
          text-align: center;
          margin-top: 0;
          padding: 0;
          padding-top: 7px;

          @media only screen and (max-width: 500px) {
            top: -39px;
            font-size: 17px;
          }
        }

        .divTableCellCalendar{
          &:before{
            margin: 0px;
          }
        }
      }

      .prev, .next{
        visibility: unset;
        color: #7b7b7b;
        opacity: 0.3;
      }
      .matches{
        margin-top: 20px;
        margin-bottom: 20px;

        .match{
          display: flex;
          background-color: #f1f1f1;
          border-radius: 10px;
          padding: 10px 15px;
          align-items: center;
          gap: 15px;
          margin-bottom: 5px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          @media only screen and (max-width: 500px) {
            flex-direction: column;
            align-items: center;
          }

          &:hover{
            background-color: #e0e0e0;
          }

          .date{
            padding: 7px;
            background-color: var(--main-color);
            height: 40px;
            text-align: center;
            line-height: 26px;
            border-radius: 10px;
            font-weight: 700;
            color: white;
          }

          .info{
            width: 100%;
            display: block;
            text-align: center;

            p{
              margin: 0px;
              font-size: 20px;
              display: flex;

              @media only screen and (max-width: 500px) {
                align-items: center;
                justify-content: center;
              }

              span{
                margin: 0px 10px;
                color: #003add;
                width: 120px;
                font-size: 17px;
                font-weight: 500;
                display: block;
              }
            }
          }
        }
      }

      .no-division{
        text-align: center;

        i{
          font-size: 40px;
          margin-bottom: 15px;
        }
      }
    }

    #deptCard{
      height: fit-content;

      @media only screen and (max-width: 1200px) {
        max-width: unset !important;
        width: 100% !important;
      }
    }

    #messCard{
      margin-bottom: 20px;
    }

    .messContainer{
      max-height: 800px;
      overflow-y: auto;
    }

    #dept{
      max-width: 300px;
      width: 100%;
      background-color: white;
      padding: 30px;
      box-sizing: content-box;
      border-radius: 15px;
      height: 200px;
      text-align: center;

      @media only screen and (max-width: 500px) {
        box-sizing: border-box;
        height: unset;
      }

      p{
        font-size: 60px;
        font-weight: 700;
      }
    }

    .mx-auto{
      text-align: center;
    }
  }
}