.permission-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;

  h2{
    text-align: center;
    margin-top: 20px;
  }

  i{
    font-size: 110px;
    color: var(--bs-danger);
  }

  a{
    margin-top: 20px;
  }
}