#users{
  .table-container{
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    width: 100%;

    .dataTables_wrapper{
      overflow-x: auto;
    }
  }
}