{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Moje pokuty
{% endblock title %}

{# Page description #}
{% block description %}Stránka s méma pokutama{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="myFines">
        <h2>Pokladník</h2>
    </div>
{% endblock content%}

{% block scripts %}
    <script>

    </script>
{% endblock scripts%}