

{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %} Login {% endblock title %}

{# Page description #}
{% block description %} {% endblock description %}

{# Page keywords #}
{% block keywords %} {% endblock keywords %}

{% block content %}
    <div class="main-flex-div">
        <div class="left-div orange-gradient">
            <div class="left-div-content">
                <h2>{{hello}}</h2>
            </div>

        </div>
        <div class="right-div">
            {#
            <label class="switch">
                <input type="checkbox" class="checkbox" onclick="changeBackgroundColor()">
                <span class="slider round"></span>
            </label>
            #}
            <form method="POST">
                <svg width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M16.0673 51.2891C15.3822 51.2953 14.7077 51.1201 14.1122 50.7812C13.6754 50.5358 13.292 50.2056 12.9844 49.8101C12.6767 49.4147 12.4511 48.9618 12.3206 48.4781C12.1901 47.9944 12.1573 47.4895 12.2243 46.9929C12.2913 46.4964 12.4566 46.0182 12.7106 45.5863C17.6059 37.4156 32.5001 18.3447 65.0001 18.3447C79.0843 18.3447 91.4368 22.0441 101.697 29.3363C110.142 35.3209 114.875 42.0951 117.13 45.3578C117.416 45.7691 117.616 46.2334 117.72 46.7234C117.824 47.2134 117.829 47.7193 117.734 48.2112C117.639 48.7031 117.447 49.171 117.169 49.5876C116.891 50.0041 116.532 50.3607 116.114 50.6365C115.259 51.2014 114.218 51.4114 113.212 51.2218C112.205 51.0322 111.312 50.458 110.721 49.6209C106.641 43.7531 94.1993 25.8984 65.0001 25.8984C36.4991 25.8984 23.6134 42.3287 19.4163 49.3746C19.0791 49.963 18.5908 50.4506 18.0021 50.7872C17.4133 51.1238 16.7454 51.297 16.0673 51.2891Z"
                            fill="url(#paint0_linear)" />
                    <path
                            d="M81.3744 125.938C81.0504 125.941 80.7271 125.905 80.4121 125.828C56.8369 119.989 48.034 96.4209 47.676 95.4409L47.6201 95.225C47.4272 94.5446 42.6969 78.3834 49.9586 68.9178C53.2873 64.6014 58.3502 62.3873 65.0356 62.3873C71.2512 62.3873 75.7352 64.3196 78.8176 68.3186C81.3567 71.5838 82.3723 75.6108 83.3549 79.4905C85.4192 87.5698 86.9096 91.8125 95.4891 92.2493C99.257 92.4397 101.733 90.2358 103.137 88.3594C106.933 83.2432 107.593 74.9024 104.731 67.5391C101.055 58.0354 88.0065 40.1172 65 40.1172C55.1789 40.1172 46.1551 43.2733 38.9188 49.2045C32.9291 54.1176 28.1836 61.0543 25.8985 68.184C21.6608 81.4582 27.2188 102.324 27.2721 102.515C27.4019 103 27.4331 103.507 27.3639 104.005C27.2948 104.503 27.1266 104.982 26.8694 105.414C26.6122 105.846 26.2711 106.222 25.8662 106.519C25.4614 106.817 25.001 107.031 24.5121 107.148C23.5246 107.411 22.4735 107.276 21.5841 106.773C20.6946 106.27 20.0377 105.439 19.7539 104.457C19.5 103.505 13.5637 81.25 18.459 65.909C23.791 49.2858 40.2467 32.528 65.0076 32.528C76.4512 32.528 87.2625 36.4178 96.2864 43.7633C103.274 49.4762 108.982 57.1492 111.968 64.8198C115.763 74.6129 114.745 85.6045 109.38 92.785C105.805 97.5737 100.714 100.077 95.0752 99.8055C80.3842 99.0692 77.7436 88.8139 75.819 81.3338C73.8385 73.6608 72.5715 69.9614 65.0076 69.9614C60.8537 69.9614 57.9364 71.1039 56.1209 73.4703C53.6453 76.7076 53.4524 81.768 53.7266 85.4395C53.9066 87.9974 54.3404 90.5312 55.0215 93.0034C55.6258 94.5268 63.4944 113.824 82.3393 118.493C82.8264 118.608 83.2857 118.819 83.6905 119.114C84.0953 119.408 84.4376 119.78 84.6974 120.208C84.9573 120.636 85.1296 121.111 85.2042 121.606C85.2788 122.101 85.2544 122.606 85.1323 123.091C84.9023 123.911 84.4105 124.632 83.7321 125.146C83.0536 125.66 82.2256 125.938 81.3744 125.938Z"
                            fill="url(#paint1_linear)" />
                    <path
                            d="M51.114 124.196C50.5856 124.197 50.0624 124.091 49.5756 123.886C49.0887 123.681 48.6483 123.379 48.2804 123C38.8453 113.097 33.5082 102.025 31.4998 88.1791V88.1054C30.3724 78.9394 32.0228 65.9623 40.1097 57.04C46.0791 50.4562 54.4707 47.1097 65.0078 47.1097C77.4695 47.1097 87.2627 52.9039 93.3691 63.8396C97.7998 71.7843 98.6783 79.7011 98.7012 80.0261C98.7476 80.5272 98.6948 81.0326 98.5456 81.5132C98.3965 81.9939 98.154 82.4404 97.8321 82.8272C97.5102 83.214 97.1151 83.5335 96.6695 83.7673C96.2239 84.0012 95.7365 84.1449 95.2353 84.1902C94.224 84.2999 93.2102 84.0076 92.4126 83.3763C91.615 82.7449 91.0976 81.8253 90.9723 80.8158C90.3034 76.0656 88.7663 71.479 86.4375 67.2851C81.7047 58.9342 74.5039 54.6888 64.9799 54.6888C56.7533 54.6888 50.3168 57.1644 45.8886 62.0521C39.5054 69.098 38.2714 79.9525 39.1474 87.133C40.907 99.3763 45.6119 109.116 53.9197 117.82C54.2664 118.181 54.5371 118.608 54.7156 119.075C54.8941 119.542 54.9769 120.041 54.9589 120.541C54.9409 121.041 54.8225 121.532 54.6108 121.986C54.3992 122.439 54.0985 122.845 53.7267 123.18C53.0108 123.829 52.0803 124.191 51.114 124.196Z"
                            fill="url(#paint2_linear)" />
                    <path
                            d="M94.5799 113.288C86.328 113.288 79.3126 111.003 73.6987 106.46C62.4202 97.373 61.1557 82.5728 61.0999 81.9482C61.0204 80.9229 61.3515 79.9081 62.0202 79.1269C62.689 78.3458 63.6407 77.8623 64.666 77.7828C65.6912 77.7034 66.7061 78.0345 67.4872 78.7032C68.2684 79.372 68.7518 80.3237 68.8313 81.349C68.8592 81.5673 69.9866 93.6736 78.6803 100.646C83.8245 104.754 90.7003 106.384 99.1731 105.432C100.186 105.309 101.206 105.592 102.01 106.219C102.815 106.846 103.339 107.766 103.467 108.778C103.522 109.278 103.477 109.784 103.335 110.267C103.193 110.749 102.956 111.199 102.639 111.589C102.321 111.979 101.929 112.301 101.485 112.538C101.041 112.775 100.555 112.921 100.054 112.968C98.2371 113.18 96.4093 113.287 94.5799 113.288Z"
                            fill="url(#paint3_linear)" />
                    <path
                            d="M101.1 12.3881C97.8809 10.2934 86.4653 4.0625 65.0001 4.0625C42.4684 4.0625 31.0249 10.9459 28.4934 12.6953C28.3262 12.7979 28.1697 12.917 28.0262 13.0508C28.0111 13.0654 27.9914 13.0744 27.9704 13.0762C27.5661 13.4291 27.2418 13.8642 27.0189 14.3523C26.7961 14.8405 26.6798 15.3706 26.678 15.9072C26.6849 16.4103 26.7911 16.907 26.9903 17.3689C27.1896 17.8309 27.478 18.2489 27.8391 18.5992C28.2003 18.9495 28.6269 19.225 29.0947 19.4101C29.5625 19.5952 30.0623 19.6861 30.5653 19.6777C31.3715 19.6772 32.1583 19.43 32.82 18.9693C32.9292 18.8881 42.7782 11.6518 65.0077 11.6518C87.2372 11.6518 97.1395 18.8627 97.2462 18.916C97.9222 19.4173 98.7431 19.6847 99.5846 19.6777C100.088 19.6855 100.588 19.5937 101.056 19.4077C101.524 19.2217 101.95 18.9451 102.311 18.5938C102.672 18.2425 102.96 17.8235 103.158 17.3607C103.356 16.8979 103.461 16.4005 103.467 15.8971C103.467 15.1429 103.242 14.4059 102.82 13.7807C102.399 13.1555 101.8 12.6705 101.1 12.3881Z"
                            fill="url(#paint4_linear)" />
                    <defs>
                        <linearGradient id="paint0_linear" x1="117.802" y1="18.3447" x2="94.735" y2="81.4582"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0.34375" stop-color="#FF5C00" />
                            <stop offset="1" stop-color="#FF8A00" />
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="114.242" y1="32.528" x2="13.4653" y2="122.505"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0.34375" stop-color="#FF5C00" />
                            <stop offset="1" stop-color="#FF8A00" />
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="98.7175" y1="47.1097" x2="18.4324" y2="107.145"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0.34375" stop-color="#FF5C00" />
                            <stop offset="1" stop-color="#FF8A00" />
                        </linearGradient>
                        <linearGradient id="paint3_linear" x1="103.49" y1="77.7712" x2="64.9326" y2="117.06"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0.34375" stop-color="#FF5C00" />
                            <stop offset="1" stop-color="#FF8A00" />
                        </linearGradient>
                        <linearGradient id="paint4_linear" x1="103.467" y1="4.0625" x2="95.8213" y2="36.1522"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0.34375" stop-color="#FF5C00" />
                            <stop offset="1" stop-color="#FF8A00" />
                        </linearGradient>
                    </defs>
                </svg>
                <h2>LOGIN</h2>
                <p>klubový vnitří informační systém</p>
                <label for="username">Přihlašovací jméno</label><br>
                <input name="username" type="text"><br>
                <label for="password">Heslo</label><br>
                <input name="password" id="password" type="password"><span onmouseout="passwordNo()"
                                                                           onmouseover="passwordView()" class="password-eye icon-eye-4"></span><br>
                <p id="errorLogin">{{errorMessage}}</p>
                <button type="submit" name="submit">Log in <span class="icon-login-1"></span></button><br>
                <a href="#">Zapomenuté heslo?</a>
            </form>
        </div>
    </div>

    <script src="js/main.js"></script>


{% endblock content%}