
{% extends 'rozlozeni.html.twig' %}

{% block title %} Chyba404 {% endblock title %}
{% block description %}Chyba404{% endblock description %}
{% block keywords %}Chyba404{% endblock keywords %}

{% block content %}
    <h1>Chyba 404</h1>
    <p>Požadovaná stránka nebyla nalezena, zkontrolujte prosím URL adresu {{ name }} </p>
{% endblock content%}