{% extends 'rozlozeni.html.twig' %}

{% block title %} Chyba 404 {% endblock title %}
{% block description %} Chyba 404{% endblock description %}
{% block keywords %} Chyba 404{% endblock keywords %}

{% block content %}
    <h1>Bohužel... Nemáte oprávnění</h1>
{% endblock content%}