{% extends 'rozlozeni.html.twig' %}

{% block title %} K této stránce nemáte oprávnění {% endblock title %}
{% block description %} K této stránce nemáte oprávnění {% endblock description %}
{% block keywords %} K této stránce nemáte oprávnění {% endblock keywords %}

{% block content %}
    <div class="permission-div">
        <i class='bx bxs-error-alt'></i>
        <h2>K zobrazení této stránky nemáte dostatečné opravnění</h2>
        <a class="btn btn-outline-danger" href="home" role="button">Zpět na hlavní stránku</a>
    </div>
{% endblock content%}